/* Add your custom extension styling here */
#panel .panel-button#panelActivitiesMenu StBoxLayout {
      padding: 0 0.2045em;
      spacing: 5px; }

.activities-icon {
  -st-icon-style: symbolic;
  icon-size: 16px;
}

.popup-menu.panel-menu .user-icon {
  icon-size: 2.75em;
}

.popup-menu.panel-menu .user-widget.horizontal {
    spacing: 12px;
    padding: 9px;
    padding-bottom: 9px;
}

.popup-menu.panel-menu .user-widget-label {
  font-size: 1.15em; 
  font-weight: bold;
}

.space-widget {
width: 0em;
}
  
  .main-menu {
  border-radius: 32px;}
  .main-menu .popup-menu-ornament {
    width: 0 !important; }
    
    .main-menu {
  min-width: 18em;
  width: 16em;
  border-radius: 32px;}
  .main-menu .popup-menu-ornament {
    width: 0 !important; }
  .main-menu .popup-menu-icon {
    }
    .main-menu .popup-menu-icon:ltr {
      margin-right: 8px;}
    .main-menu .popup-menu-icon:rtl {
      margin-left: 8px;}
  .main-menu .popup-sub-menu .popup-menu-item > :first-child:ltr {
    margin-left: 0.35em; }
  .main-menu .popup-sub-menu .popup-menu-item > :first-child:rtl {
    margin-right: 0.35em; }    
  .main-menu .popup-sub-menu .items-item > :first-child:ltr {
    margin-left: 0em; }
  .main-menu .popup-sub-menu .items-item > :first-child:rtl {
    margin-right: 0em; }
  .main-menu .popup-sub-menu .items-item {
  spacing: 0.35em
  }
  .main-menu .popup-sub-menu .items-sitem {
  font-size: 0.9em;
  font-weight: bold;
  }
  .main-menu .popup-sub-menu .items-sitem > :first-child:ltr {
    margin-left: 0em; }
  .main-menu .popup-sub-menu .items-sitem > :first-child:rtl {
    margin-right: 0em; }

